{namespace components}

/**
 *
 */
{template .helloworld}
  <article class="Helloworld">
    <div class="Helloworld-feader">
      Header
    </div>
    <div class="Helloworld-content">
      Content
    </div>
    <div class="Helloworld-footer">
      Footer
    </div>
  </article>
{/template}